body{
    height: 100%;
     width:100%;
     margin: 0;
     background-color: #e0e0e0;
  }

  header{
     background-color: rosybrown;
     position: fixed;
     width: 100%;
     top:0;
     z-index: +1;
     display: flex;
     flex-direction: row;
     align-items: center;
     flex-wrap: nowrap; 
  }

  footer{
     background-color: rosybrown;
     position: fixed;
     width: 100%;
     bottom: 0;
     z-index: +1;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
  }

  .container {
    height: 100%;
    width:100%;
    font-family:sans-serif;
 }

 a{
    color: black;
    text-decoration: none;
 }

.socail-icons{
   height: 20px; 
   width: 22px;
}

.logo{
   height: 60px;
   width: 60px;
}

 .loginlink {
  padding: 1% 2%;
  margin-left: auto;
}  

.copyright{
 font-size: .8em;
}

.contact-footer{
margin: 10px;

}

.social{
 margin: 10px;
}
