.imgrad {
  padding: 2%;
  flex-basis: 65%;
 

 }
 .bookingForm {  
   height: 60%;
   width:  40%;
   border-left: 1px solid black;
   padding: 5%;
 } 

 .labelwrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: auto;
 } 

 .inputwrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

  .booking{
  display: flex;
  flex-direction:column;
  text-align: left;
  vertical-align: middle;

 } 
.description {
   margin: 1% 4% 2% 4%;
   padding-bottom: 3%;
   font-family: cursive;
 }
.radimg{
  height: 300px;
   width:300px;
   text-align: center; 
}
.Content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap ;
  align-items: center;
  margin-top: 5%;
  border: 1px solid black;
  margin-left: 4%;
  width: 93%;
  
}

.labelwrapper{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 5% 10% 5% 0;
  justify-content: space-between;

}

.inputclass{
  width:60%;
}

.booknow{
  margin-left:34%;
}

.checked {
  color: orange;
}

#detail-carousal > div{
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

#detail-carousal {
  height: 100%;
  width: 100%;
}

.detail-img {
  height: 250px;
  width: 100%;
  margin: auto;
}

.carousel-inner {
  padding: 10%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bc8f8f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bc8f8f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}




