.imgrad {
  padding: 2%;
  flex-basis: 70%;
 }
 .bookingForm {  
   height: 60%;
   width:  40%;
   border-left: 1px solid black;
   padding: 5%;
 } 

 .labelwrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: auto;
 } 

 .inputwrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

  .booking{
  display: flex;
  flex-direction:column;
  text-align: left;
  vertical-align: middle;

 } 
.description {
   margin: 1% 4% 2% 4%;
   padding-bottom: 3%;
   font-family: cursive;
 }
#radimg{
  height: 50%;
   width:70%;
   text-align: center; 
   padding-left: 10%;
}
.Content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap ;
  align-items: center;
  margin-top: 5%;
  border: 1px solid black;
  margin-left: 4%;
  width: 93%;
  
}

.labelwrapper{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 5% 10% 5% 0;
  justify-content: space-between;

}

.inputclass{
  width:60%;
}

.booknow{
  margin-left:34%;
}