#imgrad {
    margin: 2% 4% 0 4%;
    padding-top: 6%;
 }
 .bookingForm {
   margin: 0 4% 1% 4%;
 }
 #description {
   margin: 1% 4% 2% 4%;
   padding-bottom: 3%;
 }
#radimg{
  height: 50%;
   width: 50%;
  
}