.raddison, .lalith , .taj {
    background-color: lightgray;
    height: 200px;
    width: 500px;
    margin: 2% 10%;
    
 }

 .raddison a{
   display: flex;
   flex-direction: row;
   justify-content: left;
 }

 .lalith, .taj{
   display: flex;
   flex-direction: row;
   justify-content: left;
   
 }

 .imglist {
   height:200px;
   width:250px;
 }


 .lists{
     display: flex;
     flex-direction: row;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    flex-wrap: nowrap;

 }

 .list-anchors{
    padding: 1%;
 }


 
 
 .content, .tab-content{
   display: flex;
   flex-direction: column;
 }

 #ListView{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: cursive;
    position: relative;
    width: auto;
 }

 .hoteldetails{
  padding-left: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
 }

 .raddison:hover, .lalith:hover , .taj:hover{
   background-color: rosybrown;
 }

  #mapview{
   position: absolute;
 }

 .checked {
  color: orange;
}


@media only screen and (max-width:576px) {
  .raddison a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    
  }

  .raddison{
    background-color: lightgray;
    height: 200px;
    width: 300px;
    margin-bottom: 50%;

  }
  .taj{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: lightgray;
    height: 200px;
    width: 300px;
    margin-bottom: 50%;
  }
  .lalith{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: lightgray;
    height: 200px;
    width: 300px;
    margin-bottom: 50%;
  }

  #map {
    width: 600px;
  }
}

@media only screen and (min-width:576px) and (max-width: 768px){
  #map {
    width: 700px;
    
  }

}