.raddison, .lalith , .taj {
    background-color: lightgray;
    height:auto;
    width:auto;
    margin: 2% 10%;
    position: relative;
    flex-basis: 30%;
 }

 .raddison a{
   display: flex;
   flex-direction: row;
   justify-content: left;
 }

 .lalith, .taj{
   display: flex;
   flex-direction: row;
   justify-content: left;
   
 }

 .imglist {
   height:200px;
   width:250px;
 }


 .lists{
     display: flex;
     flex-direction: row;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    flex-wrap: nowrap;

 }

 .list-anchors{
    padding: 1%;
 }


 
 
 .content, .tab-content{
   display: flex;
   flex-direction: column;
 }

 #ListView{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: cursive;
    position: relative;
 }

 .hoteldetails{
  padding-left: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
 }

 .raddison:hover, .lalith:hover , .taj:hover{
   background-color: rosybrown;
 }

  #mapview{
   position: absolute;
 }

 